.graph-wrapper {
  width: 100%;
  min-height: 60vh;
  position: relative;
  margin: 0.5rem auto;
  padding: 0.5rem;
  box-shadow: 0 0 4px 1px rgba(51, 51, 51, 0.2);
}

.graph-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-buttons button {
  background: orange;
  display: inline-block;
  width: 12rem;
  height: 3rem;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  margin: auto 0.5rem;
  color: #333;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.075rem;
  font-size: 1.25rem;
}

.graph-wrapper h4 {
  text-align: center;
  margin: 0.5rem 0;
}

.graph-title {
  color: #333;
  font-weight: 600;
  font-size: 1.35rem;
  padding: 0.5rem;
}
