.app {
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

b {
  color: green;
  font-size: x-large;
}

table {
  border: 1px solid;
  width: 100%;
}

th {
  padding: 10px;
}

td {
  padding: 2px;
}
